.container {
	position: fixed;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.box {
	display: flex;
	align-items: center;
	transform: scale(0.7) translateX(-50px);
}

.title {
	font-family: Inter;
	font-size: 96px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	background: linear-gradient(90deg, #ff85bd 0%, #ffe896 27.6%, #a7f8c6 46.88%, #8dd7fd 67.71%, #e1b0fe 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
	clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.logo {
	position: absolute;
	/* right: -130px; */
	left: -130px;
	z-index: 1;
	/* opacity: 0; */
	transform: scale(0);
}
